/*-------------------------------------------------------
Animations
-------------------------------------------------------*/

/*-------------------------------------------------------
Lenis smooth scroll
-------------------------------------------------------*/

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

/*-------------------------------------------------------
Loading screen
-------------------------------------------------------*/

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100000;
	will-change: top;
}

/*-------------------------------------------------------
Highlighted Text
-------------------------------------------------------*/

body > :not(.is-root-container) .js-animation--highlighted-text > span {
	position: relative;
	display: inline;

	background-image: linear-gradient(var(--wp--preset--color--contrast), var(--wp--preset--color--contrast));
	background-size: 0% 100%;
	background-repeat: no-repeat;
	background-clip: text;

	will-change: background-size;
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--wp--preset--color--contrast-secondary-text);
}

/*-------------------------------------------------------
Parallax for hero sections
-------------------------------------------------------*/

.js-animation--hero-img-parallax,
.js-animation--hero-img-parallax > div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.js-animation--hero-img-parallax img {
	position: absolute;
	width: 100%;
	height: 100% !important;
	top: 0;
	left: 0;
	object-fit: cover;

	transform: scale(1.1);
	will-change: transform;
}
