/*-------------------------------------------------------
Color Themes
-------------------------------------------------------*/

/*
Base
*/

.theme--base,
.wp-block-navigation__responsive-container {
	--wp--preset--color--base: rgb(2, 2, 2);
	--wp--preset--color--contrast: rgb(255, 255, 255);
	--wp--preset--color--contrast-text: rgba(255, 255, 255, 0.6);
	--wp--preset--color--contrast-secondary-text: rgba(255, 255, 255, 0.45);
	--wp--preset--color--contrast-underlining: rgba(255, 255, 255, 0.4);
	--wp--preset--color--contrast-borders: rgba(255, 255, 255, 0.25);
	--wp--preset--color--contrast-secondary-bg: rgba(255, 255, 255, 0.05);
}

/*
Contrast
*/

.theme--contrast,
body.single-post,
body.post-type-post,
body.single-uk-project,
body.post-type-uk-project {
	--wp--preset--color--base: #fff;
	--wp--preset--color--contrast: rgb(2, 2, 2);
	--wp--preset--color--contrast-text: rgba(2, 2, 2, 0.9);
	--wp--preset--color--contrast-secondary-text: rgba(2, 2, 2, 0.5);
	--wp--preset--color--contrast-underlining: rgba(2, 2, 2, 0.3);
	--wp--preset--color--contrast-borders: rgba(2, 2, 2, 0.2);
	--wp--preset--color--contrast-secondary-bg: rgba(2, 2, 2, 0.04);
}
