<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"content","layout":{"type":"default"}} -->
<main class="wp-block-group content">
	<!-- wp:group {"tagName":"article","className":"entry","layout":{"type":"default"}} -->
	<article class="wp-block-group entry">
		<!-- wp:group {"tagName":"header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"className":"entry-header","layout":{"type":"constrained"}} -->
		<header class="wp-block-group entry-header" style="margin-bottom:var(--wp--preset--spacing--30)">
			<!-- wp:post-title {"level":1,"className":"entry-title"} /-->

			<!-- wp:post-featured-image {"width":"","align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}}} /-->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
