<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"className":"content","layout":{"type":"constrained"}} -->
<main class="wp-block-group content" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
	<!-- wp:group {"tagName":"header","align":"wide","className":"page-header","layout":{"type":"default"}} -->
	<header class="wp-block-group alignwide page-header">
		<!-- wp:query-title {"type":"search","showSearchTerm":false,"fontSize":"xxxxx-large"} /-->
	</header>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"turanga/posts-list"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
