<!-- wp:template-part {"slug":"header","tagName":"header","className":"header theme--base"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0"}}},"className":"content","layout":{"type":"default"}} -->
<main class="wp-block-group content" style="padding-top:0">
	<!-- wp:group {"tagName":"article","className":"entry","layout":{"type":"default"}} -->
	<article class="wp-block-group entry">
		<!-- wp:group {"tagName":"header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"base","className":"entry-header entry-header--fullwidth theme--base","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"center"}} -->
		<header class="wp-block-group entry-header entry-header--fullwidth has-base-background-color has-background theme--base" style="margin-bottom:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
			<!-- wp:post-featured-image {"width":"100%","height":"100%","overlayColor":"base","dimRatio":40,"align":"full","className":"js-animation--hero-img-parallax"} /-->

			<!-- wp:group {"className":"entry-header__container","layout":{"type":"constrained"}} -->
			<div class="wp-block-group entry-header__container">
				<!-- wp:group {"className":"entry-meta","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
				<div class="wp-block-group entry-meta">
					<!-- wp:post-terms {"term":"category"} /-->
					<!-- wp:post-date {"format":"M j, Y","isLink":true} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"top":"1rem"}}},"className":"entry-title"} /-->
			</div>
			<!-- /wp:group -->
		</header>
		<!-- /wp:group -->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		<!-- wp:group {"tagName":"footer","style":{"spacing":{"padding":{"top":"var:preset|spacing|30"},"margin":{"top":"0"}}},"className":"entry-footer","layout":{"type":"constrained"}} -->
		<footer class="wp-block-group entry-footer" style="margin-top:0;padding-top:var(--wp--preset--spacing--30)"><!-- wp:post-terms {"term":"post_tag"} /--></footer>
		<!-- /wp:group -->
	</article>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"turanga/hidden-comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
