/*-------------------------------------------------------
Button
-------------------------------------------------------*/

.wp-block-buttons > .wp-block-button.is-style-large .wp-block-button__link {
	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);

	font-size: var(--wp--preset--font-size--xx-large);
	font-weight: 400;
	line-height: 1;
}
