/*-------------------------------------------------------
Navigation
-------------------------------------------------------*/

.wp-block-navigation .wp-block-navigation-item.current-menu-item > .wp-block-navigation-item__content {
	color: var(--wp--preset--color--contrast-secondary-text) !important;
}

/*
Adding a color to a root menu item when hovering over a child menu item
*/

.wp-block-navigation .has-child:hover > .wp-block-navigation-item__content {
	color: var(--wp--preset--color--contrast-secondary-text) !important;
}

/*
Submenu container
*/

.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
	padding: calc(var(--wp--style--block-gap) / 2) 0;
	line-height: var(--wp--style--block-gap);
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
	background-color: var(--wp--preset--color--grey);
	border: none;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
	top: calc(var(--wp--style--block-gap) / -2);
}

/*
Submenu item
*/

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
	padding: 0.375rem 1.25rem;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover,
.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus,
.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation-item__content:active {
	color: var(--wp--preset--color--contrast-secondary-text) !important;
}

/*
Adding a color to a root submenu menu item when hovering over a child menu item
*/

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation-item.has-child:hover > .wp-block-navigation-item__content {
	color: var(--wp--preset--color--contrast-secondary-text);
}

/*
Arrow
*/

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
	margin-left: 0;
	margin-right: 1.25rem;
	color: var(--wp--preset--color--contrast-secondary-text);
}

/*-------------------------------------------------------
Navigation overlay
-------------------------------------------------------*/

.wp-block-navigation__responsive-container.is-menu-open {
	padding-top: var(--wp--preset--spacing--20);
	padding-bottom: var(--wp--preset--spacing--20);
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-close,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-dialog {
	height: 100%;
}

/*
Menu
*/

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
	justify-content: center;
	min-height: 100%;
	padding-top: var(--wp--preset--spacing--70);
	padding-bottom: var(--wp--preset--spacing--70);
	gap: 0;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
	justify-content: center;
}

.wp-block-navigation.items-justified-right {
	--navigation-layout-justification-setting: flex-start;
}

/*
Menu item
*/

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
	padding: 0.25rem 0;
	font-size: var(--wp--preset--font-size--normal);
	line-height: var(--wp--style--block-gap);
}

.wp-block-navigation__responsive-container.is-menu-open a:hover,
.wp-block-navigation__responsive-container.is-menu-open a:focus,
.wp-block-navigation__responsive-container.is-menu-open a:active {
	color: var(--wp--preset--color--contrast-secondary-text) !important;
}

/*
Stiles for top level menu items
*/

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > ul > li > .wp-block-navigation-item__content {
	--wp--preset--font-size--xxxx-large: clamp(2.625rem, 1.4063vw + 2.3438rem, 3.75rem);

	font-size: var(--wp--preset--font-size--xxxx-large);
	line-height: 1.1;
}

/*
Fix focused first item
*/

.wp-block-navigation__responsive-container.is-menu-open a:focus {
	color: inherit !important;
}

.wp-block-navigation__responsive-container.is-menu-open a:focus:hover {
	color: var(--wp--preset--color--contrast-secondary-text) !important;
}

/*
Submenu container
*/

.header__navigation ol.has-background,
.header__navigation ul.has-background {
	padding: 0;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
	padding: 0 var(--wp--style--block-gap);
}
