/*-------------------------------------------------------
Query
-------------------------------------------------------*/

.wp-block-query.posts-list {
	border-top: 1px solid var(--wp--preset--color--contrast-borders);
}

.wp-block-query.posts-list > * {
	grid-column: 1 / -1;
}

@media only screen and (min-width: 600px) {
	.wp-block-query.posts-list > * {
		grid-column: 1 / -1;
	}
}

@media only screen and (min-width: 960px) {
	.wp-block-query.posts-list > * {
		grid-column: 4 / 13;
	}
}

@media only screen and (min-width: 782px) {
	.wp-block-query.posts-list .wp-block-post-date {
		text-align: right;
	}
}
