/*-------------------------------------------------------
Query
-------------------------------------------------------*/

.wp-block-query .columns-4 {
	gap: calc(var(--wp--style--block-gap) * 2) var(--wp--style--block-gap);
}

@media only screen and (max-width: 639px) {
	.wp-block-query .columns-4 {
		grid-template-columns: 1fr !important;
	}
}

@media only screen and (min-width: 640px) {
	.wp-block-query .columns-4 {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}

@media only screen and (min-width: 960px) {
	.wp-block-query .columns-4 {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	}
}

@media only screen and (min-width: 1280px) {
	.wp-block-query .columns-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}
}

/*-------------------------------------------------------
Query Item
-------------------------------------------------------*/

/*
Query item featured image
*/

.wp-block-query .wp-block-post-featured-image {
	overflow: hidden;
	border-radius: 0.375rem;
}

.wp-block-query .wp-block-post-featured-image img {
	transform: scale(1);
	transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.wp-block-query .wp-block-post-featured-image a:hover img,
.wp-block-query .wp-block-post-featured-image a:focus img,
.wp-block-query .wp-block-post-featured-image a:active img {
	transform: scale(1.05);
}

/*
Tall featured image
*/

.wp-block-query .wp-block-post-featured-image.tall {
	aspect-ratio: 4/5;
}

.wp-block-query .wp-block-post-featured-image.tall img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*
Query item title
*/

body .wp-block-query .wp-block-post-title {
	font-family: var(--wp--preset--font-family--heading);
}
